<h1 align=center style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
شبی چند؟
</font>
</h1>

<h2 align=right style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
مقدمه و صورت مسئله
</font>
</h2>

<p dir=rtl style="direction: rtl;text-align: justify;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>
در سوال مجموعه‌داده‌ای از اقامتگاه‌های سایت جاجیگا در اخیار شما قرار داده شده است. هدف پیش‌بینی قیمت یک اقامتگاه با توجه به ویژگی‌ها و اطلاعات آن است.
    
</font>
</p>

<h2 align=right style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
وارد کردن کتابخانه‌های مورد نیاز
</font>
</h2>

<p dir=rtl style="direction: rtl;text-align: right;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>
    ابتدا کتابخانه‌های مورد نیازتان را وارد کنید.
</font>
</p>

In [54]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OrdinalEncoder, StandardScaler, MultiLabelBinarizer
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.metrics import r2_score


<h2 align=right style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
معرفی مجموعه داده
</font>
</h2>

<p dir=rtl style="direction: rtl;text-align: right;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>
     مجموعه داده‌ی آموزش شامل ۴۷۷۶ سطر و ۴۴ ستون است. شرح این ستون‌ها در ادامه آمده است.
     </p>
</font>

<p dir=rtl style="direction: rtl;text-align: right;line-height:200%;font-family:vazir;font-size:medium">


<center>
<div dir=rtl style="direction: rtl;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>
    
|ستون|توضیحات|
|:------:|:---:|
|<code>id</code>|شناسه منحصر به فرد برای هر اقامتگاه|
|<code>status</code>|وضعیت فعلی اقامتگاه (فعال یا غیرفعال)|
|<code>title</code>|عنوان اقامتگاه|
|<code>description</code>|شرح اقامتگاه|
|<code>allocation</code>|نوع اجاره (کل مکان یا اتاق خصوصی)|
|<code>types</code>|دسته‌ها یا انواع اقامتگاه (به عنوان مثال، کلبه، آپارتمان و ...)|
|<code>regions</code>|مناطقی که اقامتگاه در آن قرار دارد (به عنوان مثال، جنگل، حومه و ...)|
|<code>floor_area</code>|متراژ زمین اقامتگاه بر حسب متر مربع|
|<code>land_area</code>|متراژ زیربنا اقامتگاه بر حسب متر مربع|
|<code>floors_count</code>|تعداد طبقات اقامتگاه|
|<code>bedrooms</code>|تعداد اتاق خواب|
|<code>sleep_arrange</code>|چیدمان فضاهای خواب (به عنوان مثال، تخت، تشک و ..).|
|<code>sleep_description</code>|شرح فضاهای خواب|
|<code>guest_number</code>|تعداد مهمانانی که اقامتگاه می‌تواند در خود جای دهد|
|<code>max_guest_number</code>|حداکثر تعداد مهمان مجاز|
|<code>stays_min</code>|حداقل تعداد شب مورد نیاز برای رزرو|
|<code>stays_max</code>|حداکثر تعداد شب‌های مجاز برای رزرو|
|<code>entrance_time_min</code>|زودترین زمان ورود|
|<code>entrance_time_max</code>|آخرین زمان ورود|
|<code>leaving_time</code>|زمان خروج|
|<code>features</code>|امکانات و ویژگی های موجود (به عنوان مثال، Wi-Fi، پارکینگ و ...)|
|<code>additional_feature</code>|ویژگی‌های اضافی که تحت ویژگی‌های اصلی پوشش داده نمی‌شوند|
|<code>additional_safety</code>|ویژگی‌های ایمنی (به عنوان مثال، آشکارسازهای دود، کپسول‌های آتش‌نشانی و ...)|
|<code>rules</code>|قوانین خانه (مانند حیوانات خانگی ممنوع، سیگار کشیدن ممنوع و ...)|
|<code>additional_rule</code>|قوانین اضافی تحت قوانین اصلی پوشش داده نمی‌شوند|
|<code>min_price</code>|حداقل قیمت برای اجاره‌ی اقامتگاه|
|<code>is_clean</code>|این که آیا اقامتگاه به عنوان تمیز علامت گذاری شده است|
|<code>is_new</code>|این که آیا اقامتگاه جدید است|
|<code>is_instant</code>|اینکه آیا رزرو فوری در دسترس است|
|<code>is_plus</code>|اینکه آیا اقامتگاه ممتاز است|
|<code>geo.lat</code>|عرض جغرافیایی ملک|
|<code>geo.lng</code>|طول جغرافیایی ملک|
|<code>province.id</code>|شناسه منحصر به فرد برای استان|
|<code>province.name</code>|نام استان|
|<code>province.url</code>|آدرس صفحه‌ی استان|
|<code>city.id</code>|شناسه منحصر به فرد برای شهر|
|<code>city.name</code>|نام شهر|
|<code>city.url</code>|آدرس صفحه‌ی شهر|
|<code>ratings.count</code>|تعداد امتیازهای دریافت شده|
|<code>ratings.total</code>|امتیاز کل|
|<code>ratings.cleanliness</code>|نمره‌ی تمیزی|
|<code>ratings.location</code>|امتیاز موقعیت مکانی|
|<code>ratings.checkin</code>|امتیاز فرایند ورود|
|<code>ratings.value</code>|امتیاز ارزش به نسبت قیمت|
</font>
</div>
</center>

<p dir=rtl style="direction: rtl;text-align: right;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>
هدف شما در این مسئه پیش‌بینی مقدار <code>min_price</code> است.
     مجموعه‌ی آزمون (تست) مانند مجموعه‌ی آموزش است با این تفاوت که ستون <code>min_price</code> را ندارد.
</font>

<p dir=rtl style="direction: rtl;text-align: right;line-height:200%;font-family:vazir;font-size:medium">

<h2 align=right style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
خواندن مجموعه داده
</font>
</h2>

<p dir=rtl style="direction: rtl; text-align: justify; line-height:200%; font-family:vazir; font-size:medium">
<font face="vazir" size=3>
    در ابتدا نیاز است فایل‌های مجموعه‌داده را بخوانید. نمونه‌های آموزشی در فایل <code>train.csv</code> و نمونه‌های آزمون که باید مقدار متغیر هدف آن‌ها را پیش‌بینی کنید در فایل <code>test.csv</code> ذخیره شده‌اند. اگر لازم دانستید می‌توانید به دلخواه خود بخشی از مجموعه‌ی آموزش را به عنوان مجموعه‌ی اعتبارسنجی نیز جدا کنید.
</font>
</p>

In [2]:
df = pd.read_csv("../data/train.csv")
X_test = pd.read_csv("../data/test.csv")
df

,Unnamed: 0,id,status,title,description,allocation,types,regions,floor_area,land_area,...,city.name,city.url,ratings.count,ratings.total,ratings.cleanliness,ratings.location,ratings.checkin,ratings.value,units_count,success_books
0,590,3209889,active,اجاره سوئیت حیاط دار در رامسر - سفید تمشک,**اجاره سوئیت حیاط دار در رامسر - سفید تمشک**\...,entire_place,"['suite', 'villa']",['rural'],60,1200,...,رامسر,/s/ramsar,16,4.2,3.6,4.8,4.4,3.9,1,20
1,513,3160348,active,رزرو ویلا دو خوابه در رامسر - گرسماسر,**رزرو ویلا دو خوابه در رامسر**\nاین ویلای دو ...,entire_place,['villa'],"['mountain', 'rural']",80,1000,...,رامسر,/s/ramsar,18,4.5,4.1,4.4,4.9,3.9,1,20
2,5395,3204510,active,اجاره سوئیت حیاط دار در ماهدشت,**اجاره سوئیت حیاط دار در ماهدشت**\nاین سوئیت ...,entire_place,['suite'],['urban'],60,450,...,ماهدشت,/s/mahdasht,35,4.5,4.0,4.5,4.7,4.3,1,50
3,3638,3218082,active,خانه ویلایی با استخر آبگرم در شاهدشهر شهریار,**اجاره خانه ویلایی با استخر آبگرم در شاهدشهر ...,entire_place,['villa'],['suburb'],110,1000,...,شهریار,/s/shahriar,0,0.0,0.0,0.0,0.0,0.0,1,0
4,2994,3170743,active,اجاره هتل سنتی در کاشان - ۲ تخته کرشمه,**اجاره هتل سنتی در کاشان**\nاین اتاق سنتی زیب...,private_room,"['boutiquehotel', 'ecolog']",['urban'],14,234,...,کاشان,/s/kashan,2,4.8,5.0,4.5,5.0,4.0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4771,5897,3217558,active,اجاره ویلا استخردار در چهارباغ - کهریزک,**اجاره ویلا استخردار در چهارباغ - کهریزک**\nا...,entire_place,['villa'],['rural'],120,500,...,چهارباغ,/s/chaharbagh,0,0.0,0.0,0.0,0.0,0.0,1,0
4772,2971,3168983,active,رزرو هتل سنتی در اصفهان - شاهنشین,**رزرو هتل سنتی در اصفهان**\nاین اتاق با ظرفیت...,private_room,['boutiquehotel'],['urban'],25,500,...,اصفهان,/s/isfahan,1,4.5,4.0,4.0,5.0,4.0,1,0
4773,4616,3164056,active,رزرو خانه روستایی جنگلی در لفور - شاهکلا,**رزرو خانه روستایی جنگلی در لفور**\nاین خانه ...,entire_place,['ruralhome'],"['forest', 'mountain', 'rural']",80,300,...,لفور,/s/lafur,8,4.1,4.0,4.4,4.4,3.8,1,10
4774,5125,3199913,active,اجاره ویلا با استخر آبگرم در کوهسار,**اجاره ویلا با استخر آبگرم در کوهسار**\nاین و...,entire_place,['villa'],"['mountain', 'rural']",110,630,...,کوهسار,/s/kuhsar,103,4.9,4.8,4.7,5.0,4.8,1,100
4775,2796,3233546,active,اجاره سوئیت حیاط دار در کاشان - نیاسر,**اجاره سوئیت حیاط دار در کاشان - نیاسر**\nاین...,entire_place,"['suite', 'villa']",['rural'],58,400,...,کاشان,/s/kashan,0,0.0,0.0,0.0,0.0,0.0,1,0

<h2 align=right style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
پیش‌پردازش و مهندسی ویژگی
</font>
</h2>

<p dir=rtl style="direction: rtl; text-align: justify; line-height:200%; font-family:vazir; font-size:medium">
<font face="vazir" size=3>
    در این سوال شما می‌توانید از هر تکنیک پیش‌پردازش یا مهندسی ویژگی، استفاده کنید.
    <br>
    تکنیک‌هایی که استفاده می‌کنید به شکل مستقیم مورد ارزیابی توسط سامانه داوری قرار <b>نمی‌گیرند.</b> بلکه همه آن‌ها در دقت مدل شما تاثیر خواهند گذاشت.
</font>
</p>

In [3]:
X = df.drop(columns=["min_price"])
y = df["min_price"]
X_train, X_val, y_train, y_val = train_test_split(X, y, test_size=0.2, random_state=42)
print(len(X_train), len(X_val), len(X_test))

3820 956 1194

In [4]:
X_train

,Unnamed: 0,id,status,title,description,allocation,types,regions,floor_area,land_area,...,city.name,city.url,ratings.count,ratings.total,ratings.cleanliness,ratings.location,ratings.checkin,ratings.value,units_count,success_books
2053,5068,3234201,active,اجاره خانه حیاط دار در سوادکوه - فرامرزکلا - همکف,**اجاره خانه حیاط دار در سوادکوه - فرامرزکلا -...,shared_place,['villa'],['rural'],70,180,...,سوادکوه,/s/savadkuh,0,0.0,0.0,0.0,0.0,0.0,1,0
2585,4461,3222336,active,اجاره کلبه چوبی دوبلکس در لفور - افراسی,**اجاره کلبه چوبی دوبلکس در لفور - افراسی**\nا...,entire_place,"['cottage', 'wooden_cottage']","['forest', 'rural']",60,600,...,لفور,/s/lafur,6,4.8,5.0,4.7,5.0,4.5,1,5
3704,4364,3169638,active,رزرو کلبه سنتی در زیرآب - جمشید آباد,**رزرو کلبه سنتی در زیرآب - جمشید آباد**\nاین ...,entire_place,"['cottage', 'ruralhome']","['forest', 'rural']",50,250,...,زیرآب,/s/zirab,13,4.8,4.8,4.8,4.9,4.4,1,20
113,5910,3220286,active,اجاره ویلا استخردار در جاده سهیلیه - ابراهیم آباد,**اجاره ویلا استخردار در جاده سهیلیه - ابراهیم...,shared_place,['villa'],['rural'],220,500,...,سهیلیه,/s/soheylieh,0,0.0,0.0,0.0,0.0,0.0,1,0
4469,3815,3195322,active,اجاره سوئیت مبله در شیراز,**اجاره سوئیت مبله در شیراز**\nاین سوئیت مبله ...,entire_place,"['apartment', 'suite']",['urban'],70,80,...,شیراز,/s/shiraz,14,4.8,4.8,4.4,5.0,4.7,1,20
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4426,4553,3178526,active,اجاره خانه در زیرآب - طبقه سوم,**اجاره خانه در زیرآب - طبقه سوم**\nاین منزل م...,entire_place,"['apartment', 'suite']",['urban'],70,100,...,زیرآب,/s/zirab,5,5.0,5.0,5.0,5.0,5.0,1,5
466,3759,3164306,active,رزرو بوم گردی در مرودشت - اتاق دو,**رزرو اقامتگاه بوم گردی در مرودشت**\nاین اتاق...,private_room,['ecolog'],"['desert', 'rural']",15,630,...,مرودشت,/s/marvdasht,19,4.9,5.0,4.5,5.0,4.7,1,20
3092,5943,3205271,active,اجاره ویلا استخردار در ماهدشت کرج,**اجاره ویلا استخردار در ماهدشت کرج**\nاجاره و...,entire_place,['villa'],['rural'],130,600,...,ماهدشت,/s/mahdasht,1,5.0,5.0,5.0,5.0,5.0,1,0
3772,1747,3220111,active,اجاره خانه مبله در کیش - شهرک صدف - و ۲ - ط ۲,**اجاره خانه مبله در کیش - شهرک صدف - و ۲ - ط ...,entire_place,"['apartment', 'suite']",['urban'],98,400,...,کیش,/s/kish,0,0.0,0.0,0.0,0.0,0.0,1,0
860,569,3197072,active,اجاره خانه مبله در رامسر - سادات شهر,**اجاره خانه مبله در رامسر - سادات شهر**\nاین ...,shared_place,"['apartment', 'suite']",['urban'],80,2000,...,رامسر,/s/ramsar,11,4.4,4.3,4.6,4.9,3.6,1,20

In [18]:
X_train.drop(columns=["Unnamed: 0", "id", "status", "title", "description", "sleep_description", "additional_feature", "additional_safety", "additional_rule", "province.name", "province.url", "city.name", "city.url"], inplace=True)
X_val.drop(columns=["Unnamed: 0", "id", "status", "title", "description", "sleep_description", "additional_feature", "additional_safety", "additional_rule", "province.name", "province.url", "city.name", "city.url"], inplace=True)
X_test.drop(columns=["Unnamed: 0", "id", "status", "title", "description", "sleep_description", "additional_feature", "additional_safety", "additional_rule", "province.name", "province.url", "city.name", "city.url"], inplace=True)
X_train

,allocation,types,regions,floor_area,land_area,floors_count,bedrooms,sleep_arrange,guest_number,max_guest_number,...,province.id,city.id,ratings.count,ratings.total,ratings.cleanliness,ratings.location,ratings.checkin,ratings.value,units_count,success_books
2053,shared_place,['villa'],['rural'],70,180,0,1,"[{'space_id': 1, 'single': 0, 'double': 1, 'ma...",4,6,...,p26,305,0,0.0,0.0,0.0,0.0,0.0,1,0
2585,entire_place,"['cottage', 'wooden_cottage']","['forest', 'rural']",60,600,0,1,"[{'space_id': 1, 'single': 0, 'double': 1, 'ma...",4,6,...,p26,433,6,4.8,5.0,4.7,5.0,4.5,1,5
3704,entire_place,"['cottage', 'ruralhome']","['forest', 'rural']",50,250,0,1,"[{'space_id': 1, 'single': 0, 'double': 0, 'ma...",5,8,...,p26,456,13,4.8,4.8,4.8,4.9,4.4,1,20
113,shared_place,['villa'],['rural'],220,500,0,2,"[{'space_id': 1, 'single': 0, 'double': 1, 'ma...",6,10,...,p31,485,0,0.0,0.0,0.0,0.0,0.0,1,0
4469,entire_place,"['apartment', 'suite']",['urban'],70,80,0,1,"[{'space_id': 1, 'single': 0, 'double': 1, 'ma...",2,4,...,p16,186,14,4.8,4.8,4.4,5.0,4.7,1,20
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4426,entire_place,"['apartment', 'suite']",['urban'],70,100,0,1,"[{'space_id': 1, 'single': 0, 'double': 1, 'ma...",2,6,...,p26,456,5,5.0,5.0,5.0,5.0,5.0,1,5
466,private_room,['ecolog'],"['desert', 'rural']",15,630,0,0,"[{'space_id': 0, 'single': 2, 'double': 0, 'ma...",2,3,...,p16,194,19,4.9,5.0,4.5,5.0,4.7,1,20
3092,entire_place,['villa'],['rural'],130,600,0,2,"[{'space_id': 1, 'single': 0, 'double': 1, 'ma...",6,12,...,p31,354,1,5.0,5.0,5.0,5.0,5.0,1,0
3772,entire_place,"['apartment', 'suite']",['urban'],98,400,0,2,"[{'space_id': 1, 'single': 0, 'double': 1, 'ma...",4,5,...,p28,368,0,0.0,0.0,0.0,0.0,0.0,1,0
860,shared_place,"['apartment', 'suite']",['urban'],80,2000,0,1,"[{'space_id': 1, 'single': 0, 'double': 0, 'ma...",4,6,...,p26,303,11,4.4,4.3,4.6,4.9,3.6,1,20

In [19]:
X_train_null_count_by_column = X_train.isnull().sum()
X_train_null_count_by_column[X_train_null_count_by_column > 0]

stays_max    3736
dtype: int64

In [20]:
X_val_null_count_by_column = X_val.isnull().sum()
X_val_null_count_by_column[X_val_null_count_by_column > 0]

stays_max    937
dtype: int64

In [21]:
X_test_null_count_by_column = X_test.isnull().sum()
X_test_null_count_by_column[X_test_null_count_by_column > 0]

stays_max    1158
dtype: int64

In [22]:
X_train.drop(columns=["stays_max"], inplace=True)
X_val.drop(columns=["stays_max"], inplace=True)
X_test.drop(columns=["stays_max"], inplace=True)
X_train

,allocation,types,regions,floor_area,land_area,floors_count,bedrooms,sleep_arrange,guest_number,max_guest_number,...,province.id,city.id,ratings.count,ratings.total,ratings.cleanliness,ratings.location,ratings.checkin,ratings.value,units_count,success_books
2053,shared_place,['villa'],['rural'],70,180,0,1,"[{'space_id': 1, 'single': 0, 'double': 1, 'ma...",4,6,...,p26,305,0,0.0,0.0,0.0,0.0,0.0,1,0
2585,entire_place,"['cottage', 'wooden_cottage']","['forest', 'rural']",60,600,0,1,"[{'space_id': 1, 'single': 0, 'double': 1, 'ma...",4,6,...,p26,433,6,4.8,5.0,4.7,5.0,4.5,1,5
3704,entire_place,"['cottage', 'ruralhome']","['forest', 'rural']",50,250,0,1,"[{'space_id': 1, 'single': 0, 'double': 0, 'ma...",5,8,...,p26,456,13,4.8,4.8,4.8,4.9,4.4,1,20
113,shared_place,['villa'],['rural'],220,500,0,2,"[{'space_id': 1, 'single': 0, 'double': 1, 'ma...",6,10,...,p31,485,0,0.0,0.0,0.0,0.0,0.0,1,0
4469,entire_place,"['apartment', 'suite']",['urban'],70,80,0,1,"[{'space_id': 1, 'single': 0, 'double': 1, 'ma...",2,4,...,p16,186,14,4.8,4.8,4.4,5.0,4.7,1,20
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4426,entire_place,"['apartment', 'suite']",['urban'],70,100,0,1,"[{'space_id': 1, 'single': 0, 'double': 1, 'ma...",2,6,...,p26,456,5,5.0,5.0,5.0,5.0,5.0,1,5
466,private_room,['ecolog'],"['desert', 'rural']",15,630,0,0,"[{'space_id': 0, 'single': 2, 'double': 0, 'ma...",2,3,...,p16,194,19,4.9,5.0,4.5,5.0,4.7,1,20
3092,entire_place,['villa'],['rural'],130,600,0,2,"[{'space_id': 1, 'single': 0, 'double': 1, 'ma...",6,12,...,p31,354,1,5.0,5.0,5.0,5.0,5.0,1,0
3772,entire_place,"['apartment', 'suite']",['urban'],98,400,0,2,"[{'space_id': 1, 'single': 0, 'double': 1, 'ma...",4,5,...,p28,368,0,0.0,0.0,0.0,0.0,0.0,1,0
860,shared_place,"['apartment', 'suite']",['urban'],80,2000,0,1,"[{'space_id': 1, 'single': 0, 'double': 0, 'ma...",4,6,...,p26,303,11,4.4,4.3,4.6,4.9,3.6,1,20

In [23]:
X_train.select_dtypes(exclude=['number'])

,allocation,types,regions,sleep_arrange,features,rules,is_clean,is_new,is_instant,is_plus,province.id
2053,shared_place,['villa'],['rural'],"[{'space_id': 1, 'single': 0, 'double': 1, 'ma...","[{'name': 'essentials', 'description': 'کاغذ ت...",['pet'],False,True,False,False,p26
2585,entire_place,"['cottage', 'wooden_cottage']","['forest', 'rural']","[{'space_id': 1, 'single': 0, 'double': 1, 'ma...","[{'name': 'essentials', 'description': 'مایع ظ...","['party', 'pet', 'smoke']",False,False,True,True,p26
3704,entire_place,"['cottage', 'ruralhome']","['forest', 'rural']","[{'space_id': 1, 'single': 0, 'double': 0, 'ma...","[{'name': 'essentials', 'description': 'مایع د...","['pet', 'smoke']",False,False,False,True,p26
113,shared_place,['villa'],['rural'],"[{'space_id': 1, 'single': 0, 'double': 1, 'ma...","[{'name': 'essentials', 'description': 'کاغذ ت...","['pet', 'smoke']",False,True,False,False,p31
4469,entire_place,"['apartment', 'suite']",['urban'],"[{'space_id': 1, 'single': 0, 'double': 1, 'ma...","[{'name': 'essentials', 'description': 'مایع ظ...","['party', 'smoke']",False,False,True,True,p16
...,...,...,...,...,...,...,...,...,...,...,...
4426,entire_place,"['apartment', 'suite']",['urban'],"[{'space_id': 1, 'single': 0, 'double': 1, 'ma...","[{'name': 'essentials', 'description': 'مایع ظ...","['party', 'pet', 'smoke']",False,False,False,False,p26
466,private_room,['ecolog'],"['desert', 'rural']","[{'space_id': 0, 'single': 2, 'double': 0, 'ma...","[{'name': 'essentials', 'description': 'مایع د...","['party', 'pet', 'smoke', 'unmarried']",False,False,False,True,p16
3092,entire_place,['villa'],['rural'],"[{'space_id': 1, 'single': 0, 'double': 1, 'ma...","[{'name': 'essentials', 'description': 'دستمال...",[],False,False,False,False,p31
3772,entire_place,"['apartment', 'suite']",['urban'],"[{'space_id': 1, 'single': 0, 'double': 1, 'ma...","[{'name': 'water', 'description': 'آب لوله کشی...","['party', 'pet', 'smoke']",False,True,False,False,p28
860,shared_place,"['apartment', 'suite']",['urban'],"[{'space_id': 1, 'single': 0, 'double': 0, 'ma...","[{'name': 'essentials', 'description': 'کاغذ ت...","['party', 'pet']",False,False,False,False,p26

In [24]:
str_cols = ["allocation", "is_clean", "is_new", "is_instant", "is_plus", "province.id"]
encoder = OrdinalEncoder()
X_train[str_cols] = encoder.fit_transform(X_train[str_cols])
X_val[str_cols] = encoder.transform(X_val[str_cols])
X_test[str_cols] = encoder.transform(X_test[str_cols])
X_train.select_dtypes(exclude=['number'])

,types,regions,sleep_arrange,features,rules
2053,['villa'],['rural'],"[{'space_id': 1, 'single': 0, 'double': 1, 'ma...","[{'name': 'essentials', 'description': 'کاغذ ت...",['pet']
2585,"['cottage', 'wooden_cottage']","['forest', 'rural']","[{'space_id': 1, 'single': 0, 'double': 1, 'ma...","[{'name': 'essentials', 'description': 'مایع ظ...","['party', 'pet', 'smoke']"
3704,"['cottage', 'ruralhome']","['forest', 'rural']","[{'space_id': 1, 'single': 0, 'double': 0, 'ma...","[{'name': 'essentials', 'description': 'مایع د...","['pet', 'smoke']"
113,['villa'],['rural'],"[{'space_id': 1, 'single': 0, 'double': 1, 'ma...","[{'name': 'essentials', 'description': 'کاغذ ت...","['pet', 'smoke']"
4469,"['apartment', 'suite']",['urban'],"[{'space_id': 1, 'single': 0, 'double': 1, 'ma...","[{'name': 'essentials', 'description': 'مایع ظ...","['party', 'smoke']"
...,...,...,...,...,...
4426,"['apartment', 'suite']",['urban'],"[{'space_id': 1, 'single': 0, 'double': 1, 'ma...","[{'name': 'essentials', 'description': 'مایع ظ...","['party', 'pet', 'smoke']"
466,['ecolog'],"['desert', 'rural']","[{'space_id': 0, 'single': 2, 'double': 0, 'ma...","[{'name': 'essentials', 'description': 'مایع د...","['party', 'pet', 'smoke', 'unmarried']"
3092,['villa'],['rural'],"[{'space_id': 1, 'single': 0, 'double': 1, 'ma...","[{'name': 'essentials', 'description': 'دستمال...",[]
3772,"['apartment', 'suite']",['urban'],"[{'space_id': 1, 'single': 0, 'double': 1, 'ma...","[{'name': 'water', 'description': 'آب لوله کشی...","['party', 'pet', 'smoke']"
860,"['apartment', 'suite']",['urban'],"[{'space_id': 1, 'single': 0, 'double': 0, 'ma...","[{'name': 'essentials', 'description': 'کاغذ ت...","['party', 'pet']"

In [39]:
mlb = MultiLabelBinarizer()

X_train["types"] = X_train["types"].map(lambda x: eval(x))
X_train["regions"] = X_train["regions"].map(lambda x: eval(x))
X_train["rules"] = X_train["rules"].map(lambda x: eval(x))
X_train["features"] = X_train["features"].map(lambda x: eval(x)).map(lambda x: [e["name"] for e in x])

X_val["types"] = X_val["types"].map(lambda x: eval(x))
X_val["regions"] = X_val["regions"].map(lambda x: eval(x))
X_val["rules"] = X_val["rules"].map(lambda x: eval(x))
X_val["features"] = X_val["features"].map(lambda x: eval(x)).map(lambda x: [e["name"] for e in x])

X_test["types"] = X_test["types"].map(lambda x: eval(x))
X_test["regions"] = X_test["regions"].map(lambda x: eval(x))
X_test["rules"] = X_test["rules"].map(lambda x: eval(x))
X_test["features"] = X_test["features"].map(lambda x: eval(x)).map(lambda x: [e["name"] for e in x])

X_train = pd.concat([X_train.reset_index(drop=True), pd.DataFrame(mlb.fit_transform(X_train["types"]), columns=[f'types_{num}' for num in mlb.classes_])], axis=1)
X_val = pd.concat([X_val.reset_index(drop=True), pd.DataFrame(mlb.transform(X_val["types"]), columns=[f'types_{num}' for num in mlb.classes_])], axis=1)
X_test = pd.concat([X_test.reset_index(drop=True), pd.DataFrame(mlb.transform(X_test["types"]), columns=[f'types_{num}' for num in mlb.classes_])], axis=1)

X_train = pd.concat([X_train.reset_index(drop=True), pd.DataFrame(mlb.fit_transform(X_train["regions"]), columns=[f'regions_{num}' for num in mlb.classes_])], axis=1)
X_val = pd.concat([X_val.reset_index(drop=True), pd.DataFrame(mlb.transform(X_val["regions"]), columns=[f'regions_{num}' for num in mlb.classes_])], axis=1)
X_test = pd.concat([X_test.reset_index(drop=True), pd.DataFrame(mlb.transform(X_test["regions"]), columns=[f'regions_{num}' for num in mlb.classes_])], axis=1)

X_train = pd.concat([X_train.reset_index(drop=True), pd.DataFrame(mlb.fit_transform(X_train["rules"]), columns=[f'rules_{num}' for num in mlb.classes_])], axis=1)
X_val = pd.concat([X_val.reset_index(drop=True), pd.DataFrame(mlb.transform(X_val["rules"]), columns=[f'rules_{num}' for num in mlb.classes_])], axis=1)
X_test = pd.concat([X_test.reset_index(drop=True), pd.DataFrame(mlb.transform(X_test["rules"]), columns=[f'rules_{num}' for num in mlb.classes_])], axis=1)

X_train = pd.concat([X_train.reset_index(drop=True), pd.DataFrame(mlb.fit_transform(X_train["features"]), columns=[f'features_{num}' for num in mlb.classes_])], axis=1)
X_val = pd.concat([X_val.reset_index(drop=True), pd.DataFrame(mlb.transform(X_val["features"]), columns=[f'features_{num}' for num in mlb.classes_])], axis=1)
X_test = pd.concat([X_test.reset_index(drop=True), pd.DataFrame(mlb.transform(X_test["features"]), columns=[f'features_{num}' for num in mlb.classes_])], axis=1)

In [50]:
X_train["sleep_arrange"] = X_train["sleep_arrange"].map(lambda x: eval(x))
X_train["sleep_arrange_count"] = X_train["sleep_arrange"].map(lambda x: len(x))
X_train["sleep_arrange_single_sum"] = X_train["sleep_arrange"].map(lambda x: sum([e['single'] for e in x]))
X_train["sleep_arrange_double_sum"] = X_train["sleep_arrange"].map(lambda x: sum([e['double'] for e in x]))
X_train["sleep_arrange_mattress_sum"] = X_train["sleep_arrange"].map(lambda x: sum([e['mattress'] for e in x]))

X_val["sleep_arrange"] = X_val["sleep_arrange"].map(lambda x: eval(x))
X_val["sleep_arrange_count"] = X_val["sleep_arrange"].map(lambda x: len(x))
X_val["sleep_arrange_single_sum"] = X_val["sleep_arrange"].map(lambda x: sum([e['single'] for e in x]))
X_val["sleep_arrange_double_sum"] = X_val["sleep_arrange"].map(lambda x: sum([e['double'] for e in x]))
X_val["sleep_arrange_mattress_sum"] = X_val["sleep_arrange"].map(lambda x: sum([e['mattress'] for e in x]))

X_test["sleep_arrange"] = X_test["sleep_arrange"].map(lambda x: eval(x))
X_test["sleep_arrange_count"] = X_test["sleep_arrange"].map(lambda x: len(x))
X_test["sleep_arrange_single_sum"] = X_test["sleep_arrange"].map(lambda x: sum([e['single'] for e in x]))
X_test["sleep_arrange_double_sum"] = X_test["sleep_arrange"].map(lambda x: sum([e['double'] for e in x]))
X_test["sleep_arrange_mattress_sum"] = X_test["sleep_arrange"].map(lambda x: sum([e['mattress'] for e in x]))

In [51]:
X_train.drop(columns=["types", "regions", "rules", "features", "sleep_arrange"], inplace=True)
X_val.drop(columns=["types", "regions", "rules", "features", "sleep_arrange"], inplace=True)
X_test.drop(columns=["types", "regions", "rules", "features", "sleep_arrange"], inplace=True)
X_train

,allocation,floor_area,land_area,floors_count,bedrooms,guest_number,max_guest_number,stays_min,entrance_time_min,entrance_time_max,...,features_toilet,features_tv,features_vacuumcleaner,features_washer,features_water,features_wifi,sleep_arrange_count,sleep_arrange_single_sum,sleep_arrange_double_sum,sleep_arrange_mattress_sum
0,2.0,70,180,0,1,4,6,1,14,0,...,1,1,0,0,1,0,2,0,1,4
1,0.0,60,600,0,1,4,6,1,16,21,...,0,1,1,0,1,0,2,0,1,4
2,0.0,50,250,0,1,5,8,1,14,0,...,0,1,0,0,1,0,2,0,0,6
3,2.0,220,500,0,2,6,10,1,14,0,...,1,0,0,0,1,0,3,0,2,3
4,0.0,70,80,0,1,2,4,1,14,0,...,1,1,0,0,1,0,2,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3815,0.0,70,100,0,1,2,6,1,14,19,...,1,1,1,0,1,0,2,0,1,3
3816,1.0,15,630,0,0,2,3,1,14,24,...,1,0,0,0,1,0,1,2,0,4
3817,0.0,130,600,0,2,6,12,1,14,0,...,1,1,1,0,1,0,3,0,2,2
3818,0.0,98,400,0,2,4,5,1,14,0,...,1,1,0,1,1,0,3,0,2,1
3819,2.0,80,2000,0,1,4,6,1,14,0,...,0,1,0,0,1,0,2,0,0,4

In [52]:
scaler = StandardScaler()

X_train = pd.DataFrame(
    scaler.fit_transform(X_train),
    columns=X_train.columns,
    index=X_train.index
)

X_val = pd.DataFrame(
    scaler.transform(X_val),
    columns=X_val.columns,
    index=X_val.index
)

X_test = pd.DataFrame(
    scaler.transform(X_test),
    columns=X_test.columns,
    index=X_test.index
)
X_train

,allocation,floor_area,land_area,floors_count,bedrooms,guest_number,max_guest_number,stays_min,entrance_time_min,entrance_time_max,...,features_toilet,features_tv,features_vacuumcleaner,features_washer,features_water,features_wifi,sleep_arrange_count,sleep_arrange_single_sum,sleep_arrange_double_sum,sleep_arrange_mattress_sum
0,1.520840,-0.483109,-0.164188,0.0,-0.549017,0.032479,-0.241183,-0.281291,-0.020543,-0.882984,...,0.669788,0.458268,-1.260885,-0.498363,0.068807,-0.329441,-0.549017,-0.447858,-0.392597,0.479487
1,-0.750313,-0.608580,-0.056349,0.0,-0.549017,0.032479,-0.241183,-0.281291,1.966144,1.017502,...,-1.493010,0.458268,0.793094,-0.498363,0.068807,-0.329441,-0.549017,-0.447858,-0.392597,0.479487
2,-0.750313,-0.734052,-0.146215,0.0,-0.549017,0.643667,0.302689,-0.281291,-0.020543,-0.882984,...,-1.493010,0.458268,-1.260885,-0.498363,0.068807,-0.329441,-0.549017,-0.447858,-1.457741,1.295181
3,1.520840,1.398966,-0.082025,0.0,0.502761,1.254854,0.846561,-0.281291,-0.020543,-0.882984,...,0.669788,-2.182130,-1.260885,-0.498363,0.068807,-0.329441,0.502761,-0.447858,0.672546,0.071640
4,-0.750313,-0.483109,-0.189865,0.0,-0.549017,-1.189895,-0.785055,-0.281291,-0.020543,-0.882984,...,0.669788,0.458268,-1.260885,-0.498363,0.068807,-0.329441,-0.549017,-0.447858,-0.392597,-0.744054
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3815,-0.750313,-0.483109,-0.184729,0.0,-0.549017,-1.189895,-0.241183,-0.281291,-0.020543,0.836503,...,0.669788,0.458268,0.793094,-0.498363,0.068807,-0.329441,-0.549017,-0.447858,-0.392597,0.071640
3816,0.385264,-1.173203,-0.048646,0.0,-1.600794,-1.189895,-1.056990,-0.281291,-0.020543,1.289000,...,0.669788,-2.182130,-1.260885,-0.498363,0.068807,-0.329441,-1.600794,1.788503,-1.457741,0.479487
3817,-0.750313,0.269721,-0.056349,0.0,0.502761,1.254854,1.390432,-0.281291,-0.020543,-0.882984,...,0.669788,0.458268,0.793094,-0.498363,0.068807,-0.329441,0.502761,-0.447858,0.672546,-0.336207
3818,-0.750313,-0.131788,-0.107701,0.0,0.502761,0.032479,-0.513119,-0.281291,-0.020543,-0.882984,...,0.669788,0.458268,-1.260885,2.006568,0.068807,-0.329441,0.502761,-0.447858,0.672546,-0.744054
3819,1.520840,-0.357637,0.303117,0.0,-0.549017,0.032479,-0.241183,-0.281291,-0.020543,-0.882984,...,-1.493010,0.458268,-1.260885,-0.498363,0.068807,-0.329441,-0.549017,-0.447858,-1.457741,0.479487

<h2 align=right style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
مدل‌سازی
</font>
</h2>

<p dir=rtl style="direction: rtl; text-align: justify; line-height:200%; font-family:vazir; font-size:medium">
<font face="vazir" size=3>
پس از پاکسازی داده‌ها و احتمالا حذف بعضی ستون‌ها یا افزودن ویژگی‌های جدید، حال وقت آن است که مطابق سلیقه‌ی خود، مدل مناسب را با استفاده از داده‌های پیش‌پردازش شده آموزش دهید.
</font>
</p>

In [ ]:
model = GradientBoostingRegressor(random_state=42)
model.fit(X_train, y_train)

GradientBoostingRegressor(random_state=42)

<h3 align=right style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
معیار ارزیابی
</font>
</h3>
<p dir=rtl style="direction: rtl; text-align: justify; line-height:200%; font-family:vazir; font-size:medium">
<font face="vazir" size=3>
    در این سوال از معیار  R2 Score جهت ارزیابی نتایج مدل شما استفاده خواهد شد.
    در سامانه داوری هم از این معیار برای نمره‌دهی استفاده شده است.
    <br>
    پیشنهاد می‌شود با توجه به این معیار، عملکرد مدل خود را بر روی مجموعه‌ی آموزش یا اعتبارسنجی ارزیابی کنید.
</font>
</p>

In [55]:
y_train_pred = model.predict(X_train)
y_val_pred = model.predict(X_val)
print("R2 (train):", r2_score(y_train, y_train_pred))
print("R2 (val)  :", r2_score(y_val, y_val_pred))

R2 (train): 0.7697263702227706
R2 (val)  : 0.6596161070849634

<p dir=rtl style="direction: rtl; text-align: justify; line-height:200%; font-family:vazir; font-size:medium">
<font color="red"><b color='red'>توجه:</b></font>
<font face="vazir" size=3>
 جهت کسب امتیاز نیاز است تا پاسخ شما حداقل امتیاز <code>50</code> را با توجه به معیار معرفی‌شده کسب نماید.
</font>
</p>

<h2 align=right style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
 پیش‌بینی بر روی داده‌ی آزمون و خروجی
</font>
</h2>

<p dir=rtl style="direction: rtl;text-align: justify;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>
    پیش‌بینی مدل خود بر روی داده‌های آزمون را در یک دیتافریم (<code>dataframe</code>) به فرمت زیر ذخیره کنید.
</font>
</p>


<p dir=rtl style="direction: rtl;text-align: justify;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>
    توجه داشته باشید که نام دیتافریم باید <code>submission</code> باشد؛ در غیر این‌صورت، سامانه‌ی داوری قادر به ارزیابی خروجی شما نخواهد بود.
    این دیتافریم تنها شامل ۱ ستون با اسم <code>min_price</code> است.
    <br>
    به ازای هر سطر موجود در دیتافریم <code>test</code>، باید یک مقدار پیش‌بینی‌شده داشته باشید.
    به‌عنوان مثال جدول زیر، ۵ سطر ابتدایی دیتافریم <code>submission</code> را نشان می‌دهد. البته در جواب شما، اعداد ستون <code>min_price</code> ممکن است متفاوت باشد.
</font>
</p>

<center>
<div style="direction: ltr;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>
    
||<code>min_price</code>|
|:----:|:-----:|
|0|700000|
|1|650000|
|2|5000000|
|3|800000|
|4|750000|

</font>
</div>
</center>

In [56]:
submission = pd.DataFrame({"min_price": model.predict(X_test)})
submission

         min_price
0     1.810977e+06
1     1.651510e+06
2     1.456959e+06
3     1.212648e+06
4     1.027735e+06
...            ...
1189  1.262694e+06
1190  9.860144e+05
1191  1.148894e+06
1192  5.907608e+06
1193  1.150740e+06

[1194 rows x 1 columns]

<h2 align=right style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
<b>سلول جواب‌ساز</b>
</font>
</h2>

<p dir=rtl style="direction: rtl; text-align: justify; line-height:200%; font-family:vazir; font-size:medium">
<font face="vazir" size=3>
    برای ساخته‌شدن فایل <code>result.zip</code> سلول زیر را اجرا کنید. توجه داشته باشید که پیش از اجرای سلول زیر تغییرات اعمال شده در نت‌بوک را ذخیره کرده باشید (<code>ctrl+s</code>) تا در صورت نیاز به پشتیبانی امکان بررسی کد شما وجود داشته باشد.
</font>
</p>

In [57]:
import zipfile

def compress(file_names):
    print("File Paths:")
    print(file_names)
    compression = zipfile.ZIP_DEFLATED
    with zipfile.ZipFile("result.zip", mode="w") as zf:
        for file_name in file_names:
            zf.write('./' + file_name, file_name, compress_type=compression)

submission.to_csv('submission.csv', index=False)

file_names = ['submission.csv', 'Jajiga.ipynb']
compress(file_names)

File Paths:
['submission.csv', 'Jajiga.ipynb']