<h1 dir=rtl align=center style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
    استارت‌آپ
</font>
</h1>

<p dir=rtl style="direction: rtl; text-align: justify; line-height:200%; font-family:vazir; font-size:medium">
<font face="vazir" size=3>
    در این سوال می‌خواهیم مدلی طراحی کنیم تا بتواند پیش‌بینی گند یک استارت‌آپ می‌تواند موفق شود یا خیر.
</font>
</p>

<h2 dir=rtl align=right style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
معرفی مجموعه داده
</font>
</h2>

<p dir=rtl style="direction: rtl; text-align: justify; line-height:200%; font-family:vazir; font-size:medium">
<font face="vazir" size=3>
    در فایل اولیه‌ی این سوال دو فایل با نام‌های <code>train.csv</code> و <code>test.csv</code> قرار دارد که به ترتیب مجموعه‌داده‌ی آموزش و آزمون هستند.
    <br>
    مجموعه‌داده‌ی آموزش دارای ۵۷۶۱۵ سطر و ۱۲ ستون (ویژگی) است که توضیحات مربوط به این ستون‌ها در جدول زیر آمده است.
</font>
</p>

<center>
<div dir=rtl align=center style="direction: rtl;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>

| <b>نام ویژگی</b> | <b>توضیح ویژگی</b> |
| :---: | :---: |
| <code>name</code> | نام شرکت |
| <code>category_list</code> | زمینه‌ی کاری شرکت |
| <code>funding_total_usd</code> | مجموع بودجه‌ی شرکت (به دلار) |
| <code>status</code> | وضعیت شرکت (متغیر هدف مسئله که باید در ادامه کمی تغییرات در آن ایجاد کنید) |
| <code>country_code</code> | کد کشور |
| <code>state_code</code> | کد ایالت |
| <code>region</code> | منطقه |
| <code>city</code> | شهر |
| <code>funding_rounds</code> | تعداد دفعات تامین مالی شرکت |
| <code>founded_at</code> | تاریخ تاسیس |
| <code>first_funding_at</code> | تاریخ اولین تامین مالی شرکت |
| <code>last_funding_at</code> | تاریخ آخرین تامین مالی شرکت |

</font>

<p dir=rtl style="direction: rtl; text-align: justify; line-height:200%; font-family:vazir; font-size:medium">
<font face="vazir" size=3>
    مجموعه‌داده‌ی آزمون نیز دارای ۸۷۵۲ سطر است و ستون‌های آن مشابه مجموعه‌داده‌ی آموزش است، با این تفاوت که ستون <code>status</code> را ندارد.
</font>
</p>

<h2 dir=rtl align=right style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
خواندن مجموعه داده
</font>
</h2>

<p dir=rtl style="direction: rtl; text-align: justify; line-height:200%; font-family:vazir; font-size:medium">
<font face="vazir" size=3>
    در ابتدا نیاز است تا کتابخانه‌های مورد نیاز خود را فراخوانی کنید. سپس با توجه به توضیحات بالا مجموعه‌داده‌های آموزش و آزمون را به نحو مناسبی بخوانید و پیش‌پردازش‌های لازم را روی آن‌ها انجام دهید.
    <br>
    اگر به داده‌ها دقت کنید مقادیر ستون <code>status</code> برابر با <code>operating</code> ،<code>closed</code> ،<code>acquired</code> و <code>ipo</code> است. 
    شرکتی را موفق می‌گوییم اگر در یکی از دو وضعیت <code>acquired</code> و <code>ipo</code> باشد. وضعیت <code>closed</code> به معنی این است که استارت‌آپ شکست خورده و شرکت بسته شده است و وضعیت <code>operating</code> نیز به این معنی است که شرکت به موفقیت نرسیده ولی هنوز ورشکست نشده است.
     بنابراین مدل شما در نهایت باید به عنوان پیش‌بینی یکی از سه عدد ۰ (شکست و بسته شده)، ۱ (عدم موفقیت ولی بشته نشده) و ۲ (موفقیت) را خروجی دهد.
</font>
</p>

In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OrdinalEncoder, StandardScaler, MultiLabelBinarizer
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import f1_score
from imblearn.over_sampling import SMOTE
from sklearn.impute import SimpleImputer
from sklearn.compose import ColumnTransformer

In [2]:
df = pd.read_csv("train.csv", parse_dates=["founded_at", "first_funding_at", "last_funding_at"])
X_test = pd.read_csv("test.csv", parse_dates=["founded_at", "first_funding_at", "last_funding_at"])
df

,name,category_list,funding_total_usd,status,country_code,state_code,region,city,funding_rounds,founded_at,first_funding_at,last_funding_at
0,#fame,Media,10000000,operating,IND,16,Mumbai,Mumbai,1,NaN,2015-01-05,2015-01-05
1,:Qounter,Application Platforms|Real Time|Social Network...,700000,operating,USA,DE,DE - Other,Delaware City,2,2014-09-04,2014-03-01,2014-10-14
2,"(THE) ONE of THEM,Inc.",Apps|Games|Mobile,3406878,operating,NaN,NaN,NaN,NaN,1,NaN,2014-01-30,2014-01-30
3,0-6.com,Curated Web,2000000,operating,CHN,22,Beijing,Beijing,1,2007-01-01,2008-03-19,2008-03-19
4,004 Technologies,Software,-,operating,USA,IL,"Springfield, Illinois",Champaign,1,2010-01-01,2014-07-24,2014-07-24
...,...,...,...,...,...,...,...,...,...,...,...,...
57611,ZZNode Science and Technology,Enterprise Software,1587301,operating,CHN,22,Beijing,Beijing,1,NaN,2012-04-01,2012-04-01
57612,Zzzzapp Wireless ltd.,Advertising|Mobile|Web Development|Wireless,114304,operating,HRV,15,Split,Split,4,2012-05-13,2011-11-01,2014-03-01
57613,ÁERON,NaN,-,operating,NaN,NaN,NaN,NaN,1,2011-01-01,2014-08-01,2014-08-01
57614,Ôasys,Consumer Electronics|Internet of Things|Teleco...,18192,operating,USA,CA,SF Bay Area,San Francisco,1,2014-01-01,2015-01-01,2015-01-01
57615,İnovatiff Reklam ve Tanıtım Hizmetleri Tic,Consumer Goods|E-Commerce|Internet,14851,operating,NaN,NaN,NaN,NaN,1,NaN,2013-10-01,2013-10-01

In [6]:
df["first_funding_at"] = pd.to_datetime(df["first_funding_at"], errors="coerce")
df["founded_at"] = pd.to_datetime(df["founded_at"], errors="coerce")
df.replace('-', np.nan, inplace=True)
X_test.replace('-', np.nan, inplace=True)
df["funding_total_usd"] = df["funding_total_usd"].astype(np.float64)
X_test["funding_total_usd"] = X_test["funding_total_usd"].astype(np.float64)
df

,name,category_list,funding_total_usd,status,country_code,state_code,region,city,funding_rounds,founded_at,first_funding_at,last_funding_at
0,#fame,Media,10000000.0,operating,IND,16,Mumbai,Mumbai,1,NaT,2015-01-05,2015-01-05
1,:Qounter,Application Platforms|Real Time|Social Network...,700000.0,operating,USA,DE,DE - Other,Delaware City,2,2014-09-04,2014-03-01,2014-10-14
2,"(THE) ONE of THEM,Inc.",Apps|Games|Mobile,3406878.0,operating,NaN,NaN,NaN,NaN,1,NaT,2014-01-30,2014-01-30
3,0-6.com,Curated Web,2000000.0,operating,CHN,22,Beijing,Beijing,1,2007-01-01,2008-03-19,2008-03-19
4,004 Technologies,Software,NaN,operating,USA,IL,"Springfield, Illinois",Champaign,1,2010-01-01,2014-07-24,2014-07-24
...,...,...,...,...,...,...,...,...,...,...,...,...
57611,ZZNode Science and Technology,Enterprise Software,1587301.0,operating,CHN,22,Beijing,Beijing,1,NaT,2012-04-01,2012-04-01
57612,Zzzzapp Wireless ltd.,Advertising|Mobile|Web Development|Wireless,114304.0,operating,HRV,15,Split,Split,4,2012-05-13,2011-11-01,2014-03-01
57613,ÁERON,NaN,NaN,operating,NaN,NaN,NaN,NaN,1,2011-01-01,2014-08-01,2014-08-01
57614,Ôasys,Consumer Electronics|Internet of Things|Teleco...,18192.0,operating,USA,CA,SF Bay Area,San Francisco,1,2014-01-01,2015-01-01,2015-01-01
57615,İnovatiff Reklam ve Tanıtım Hizmetleri Tic,Consumer Goods|E-Commerce|Internet,14851.0,operating,NaN,NaN,NaN,NaN,1,NaT,2013-10-01,2013-10-01

In [7]:
X = df.drop(columns=["status"])
y = df["status"].map({"closed": 0, "operating": 1, "acquired": 2, "ipo": 2})
X_train, X_val, y_train, y_val = train_test_split(X, y, test_size=0.1, random_state=42)
print(len(X_train), len(X_val), len(X_test))

51854 5762 8752

In [8]:
X_train

,name,category_list,funding_total_usd,country_code,state_code,region,city,funding_rounds,founded_at,first_funding_at,last_funding_at
35397,One True Media,Collaboration|Curated Web|Video,14000000.0,USA,CA,SF Bay Area,Redwood City,2,2005-01-01,2006-06-12,2009-01-06
34559,Novitaz,Enterprise Software,1381973.0,USA,CT,Hartford,Westport,1,NaT,2010-03-26,2010-03-26
24587,Interface Security Systems,Security,14560000.0,USA,TX,Dallas,Plano,1,NaT,2009-04-15,2009-04-15
36429,PadProof,Mobile|Startups,NaN,NaN,NaN,NaN,NaN,1,2010-07-01,2013-05-01,2013-05-01
5187,Bay Dynamics,Big Data Analytics|Information Services|Risk M...,8000000.0,USA,CA,SF Bay Area,San Francisco,1,2001-01-01,2014-07-15,2014-07-15
...,...,...,...,...,...,...,...,...,...,...,...
54343,Voiceit,Music|Music Services,20203.0,DEU,13,Dresden,Dresden,1,NaT,2013-01-27,2013-01-27
38158,Line-Up,E-Commerce|Events|Mobile|Reviews and Recommend...,385567.0,GBR,H9,London,London,2,2010-11-09,2013-01-31,2015-01-21
860,Aceva Technologies,Enterprise Software,5280000.0,USA,CA,SF Bay Area,San Mateo,1,1999-01-01,2005-07-21,2005-07-21
15795,Enigma Semiconductor,Semiconductor Manufacturing Equipment,12500000.0,USA,CA,SF Bay Area,Santa Clara,1,2001-01-01,2004-03-24,2004-03-24
56422,Yadio,Curated Web,NaN,NaN,NaN,NaN,NaN,1,NaT,2003-06-08,2003-06-08

In [9]:
X_train.drop(columns=["name"], inplace=True)
X_val.drop(columns=["name"], inplace=True)
X_test.drop(columns=["name"], inplace=True)
X_train

,category_list,funding_total_usd,country_code,state_code,region,city,funding_rounds,founded_at,first_funding_at,last_funding_at
35397,Collaboration|Curated Web|Video,14000000.0,USA,CA,SF Bay Area,Redwood City,2,2005-01-01,2006-06-12,2009-01-06
34559,Enterprise Software,1381973.0,USA,CT,Hartford,Westport,1,NaT,2010-03-26,2010-03-26
24587,Security,14560000.0,USA,TX,Dallas,Plano,1,NaT,2009-04-15,2009-04-15
36429,Mobile|Startups,NaN,NaN,NaN,NaN,NaN,1,2010-07-01,2013-05-01,2013-05-01
5187,Big Data Analytics|Information Services|Risk M...,8000000.0,USA,CA,SF Bay Area,San Francisco,1,2001-01-01,2014-07-15,2014-07-15
...,...,...,...,...,...,...,...,...,...,...
54343,Music|Music Services,20203.0,DEU,13,Dresden,Dresden,1,NaT,2013-01-27,2013-01-27
38158,E-Commerce|Events|Mobile|Reviews and Recommend...,385567.0,GBR,H9,London,London,2,2010-11-09,2013-01-31,2015-01-21
860,Enterprise Software,5280000.0,USA,CA,SF Bay Area,San Mateo,1,1999-01-01,2005-07-21,2005-07-21
15795,Semiconductor Manufacturing Equipment,12500000.0,USA,CA,SF Bay Area,Santa Clara,1,2001-01-01,2004-03-24,2004-03-24
56422,Curated Web,NaN,NaN,NaN,NaN,NaN,1,NaT,2003-06-08,2003-06-08

In [10]:
y_train.value_counts()

status
1    41276
2     5469
0     5109
Name: count, dtype: int64

In [32]:
X_train_null_count_by_column = X_train.isnull().sum()
X_train_null_count_by_column[X_train_null_count_by_column > 0]

funding_total_usd         10195
country_code               6296
state_code                 7750
region                     7267
city                       7267
time_to_first_funding     13708
age_at_last_funding       13708
founded_at_year           13708
founded_at_month          13708
founded_at_quarter        13708
founded_at_day_of_week    13708
dtype: int64

In [33]:
X_val_null_count_by_column = X_val.isnull().sum()
X_val_null_count_by_column[X_val_null_count_by_column > 0]

funding_total_usd         1144
country_code               660
state_code                 795
region                     761
city                       759
time_to_first_funding     1513
age_at_last_funding       1513
founded_at_year           1513
founded_at_month          1513
founded_at_quarter        1513
founded_at_day_of_week    1513
dtype: int64

In [34]:
X_test_null_count_by_column = X_test.isnull().sum()
X_test_null_count_by_column[X_test_null_count_by_column > 0]

funding_total_usd    1444
dtype: int64

In [14]:
mask = X_train['first_funding_at'].notna()
X_train = X_train[mask]
y_train = y_train[mask]

mask = X_val['first_funding_at'].notna()
X_val = X_val[mask]
y_val = y_val[mask]

mask = X_test['first_funding_at'].notna()
X_test = X_test[mask]

In [23]:
mlb = MultiLabelBinarizer()

X_train["category_list"] = X_train["category_list"].map(lambda x: x.split("|") if str(x).lower() != "nan" else [])
X_val["category_list"] = X_val["category_list"].map(lambda x: x.split("|") if str(x).lower() != "nan" else [])
X_test["category_list"] = X_test["category_list"].map(lambda x: x.split("|") if str(x).lower() != "nan" else [])


X_train = pd.concat([X_train.reset_index(drop=True), pd.DataFrame(mlb.fit_transform(X_train["category_list"]), columns=[f'category_list_{num}' for num in mlb.classes_])], axis=1)
X_val = pd.concat([X_val.reset_index(drop=True), pd.DataFrame(mlb.transform(X_val["category_list"]), columns=[f'category_list_{num}' for num in mlb.classes_])], axis=1)
X_test = pd.concat([X_test.reset_index(drop=True), pd.DataFrame(mlb.transform(X_test["category_list"]), columns=[f'category_list_{num}' for num in mlb.classes_])], axis=1)
X_train

C:\Users\safinal\AppData\Local\Temp\ipykernel_2828\2017019340.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_train["category_list"] = X_train["category_list"].map(lambda x: x.split("|") if str(x).lower() != "nan" else [])
d:\Quera\Data\فینال\استارت‌آپ موفق\startup\.venv\Lib\site-packages\sklearn\preprocessing\_label.py:909: UserWarning: unknown class(es) ['Salesforce Killers'] will be ignored
  warnings.warn(
d:\Quera\Data\فینال\استارت‌آپ موفق\startup\.venv\Lib\site-packages\sklearn\preprocessing\_label.py:909: UserWarning: unknown class(es) ['Hip Hop', 'Salesforce Killers'] will be ignored
  warnings.warn(

,category_list,funding_total_usd,country_code,state_code,region,city,funding_rounds,founded_at,first_funding_at,last_funding_at,...,category_list_Wine And Spirits,category_list_Wireless,category_list_Women,category_list_Writers,category_list_Young Adults,category_list_iOS,category_list_iPad,category_list_iPhone,category_list_iPod Touch,category_list_mHealth
0,"[Collaboration, Curated Web, Video]",14000000.0,USA,CA,SF Bay Area,Redwood City,2,2005-01-01,2006-06-12,2009-01-06,...,0,0,0,0,0,0,0,0,0,0
1,[Enterprise Software],1381973.0,USA,CT,Hartford,Westport,1,NaT,2010-03-26,2010-03-26,...,0,0,0,0,0,0,0,0,0,0
2,[Security],14560000.0,USA,TX,Dallas,Plano,1,NaT,2009-04-15,2009-04-15,...,0,0,0,0,0,0,0,0,0,0
3,"[Mobile, Startups]",NaN,NaN,NaN,NaN,NaN,1,2010-07-01,2013-05-01,2013-05-01,...,0,0,0,0,0,0,0,0,0,0
4,"[Big Data Analytics, Information Services, Ris...",8000000.0,USA,CA,SF Bay Area,San Francisco,1,2001-01-01,2014-07-15,2014-07-15,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51826,"[Music, Music Services]",20203.0,DEU,13,Dresden,Dresden,1,NaT,2013-01-27,2013-01-27,...,0,0,0,0,0,0,0,0,0,0
51827,"[E-Commerce, Events, Mobile, Reviews and Recom...",385567.0,GBR,H9,London,London,2,2010-11-09,2013-01-31,2015-01-21,...,0,0,0,0,0,0,0,0,0,0
51828,[Enterprise Software],5280000.0,USA,CA,SF Bay Area,San Mateo,1,1999-01-01,2005-07-21,2005-07-21,...,0,0,0,0,0,0,0,0,0,0
51829,[Semiconductor Manufacturing Equipment],12500000.0,USA,CA,SF Bay Area,Santa Clara,1,2001-01-01,2004-03-24,2004-03-24,...,0,0,0,0,0,0,0,0,0,0
51830,[Curated Web],NaN,NaN,NaN,NaN,NaN,1,NaT,2003-06-08,2003-06-08,...,0,0,0,0,0,0,0,0,0,0

In [24]:
X_train.drop(columns=["category_list"], inplace=True)
X_val.drop(columns=["category_list"], inplace=True)
X_test.drop(columns=["category_list"], inplace=True)
X_train

,funding_total_usd,country_code,state_code,region,city,funding_rounds,founded_at,first_funding_at,last_funding_at,category_list_3D,...,category_list_Wine And Spirits,category_list_Wireless,category_list_Women,category_list_Writers,category_list_Young Adults,category_list_iOS,category_list_iPad,category_list_iPhone,category_list_iPod Touch,category_list_mHealth
0,14000000.0,USA,CA,SF Bay Area,Redwood City,2,2005-01-01,2006-06-12,2009-01-06,0,...,0,0,0,0,0,0,0,0,0,0
1,1381973.0,USA,CT,Hartford,Westport,1,NaT,2010-03-26,2010-03-26,0,...,0,0,0,0,0,0,0,0,0,0
2,14560000.0,USA,TX,Dallas,Plano,1,NaT,2009-04-15,2009-04-15,0,...,0,0,0,0,0,0,0,0,0,0
3,NaN,NaN,NaN,NaN,NaN,1,2010-07-01,2013-05-01,2013-05-01,0,...,0,0,0,0,0,0,0,0,0,0
4,8000000.0,USA,CA,SF Bay Area,San Francisco,1,2001-01-01,2014-07-15,2014-07-15,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51826,20203.0,DEU,13,Dresden,Dresden,1,NaT,2013-01-27,2013-01-27,0,...,0,0,0,0,0,0,0,0,0,0
51827,385567.0,GBR,H9,London,London,2,2010-11-09,2013-01-31,2015-01-21,0,...,0,0,0,0,0,0,0,0,0,0
51828,5280000.0,USA,CA,SF Bay Area,San Mateo,1,1999-01-01,2005-07-21,2005-07-21,0,...,0,0,0,0,0,0,0,0,0,0
51829,12500000.0,USA,CA,SF Bay Area,Santa Clara,1,2001-01-01,2004-03-24,2004-03-24,0,...,0,0,0,0,0,0,0,0,0,0
51830,NaN,NaN,NaN,NaN,NaN,1,NaT,2003-06-08,2003-06-08,0,...,0,0,0,0,0,0,0,0,0,0

In [25]:
X_train.select_dtypes(exclude=["number"])

,country_code,state_code,region,city,founded_at,first_funding_at,last_funding_at
0,USA,CA,SF Bay Area,Redwood City,2005-01-01,2006-06-12,2009-01-06
1,USA,CT,Hartford,Westport,NaT,2010-03-26,2010-03-26
2,USA,TX,Dallas,Plano,NaT,2009-04-15,2009-04-15
3,NaN,NaN,NaN,NaN,2010-07-01,2013-05-01,2013-05-01
4,USA,CA,SF Bay Area,San Francisco,2001-01-01,2014-07-15,2014-07-15
...,...,...,...,...,...,...,...
51826,DEU,13,Dresden,Dresden,NaT,2013-01-27,2013-01-27
51827,GBR,H9,London,London,2010-11-09,2013-01-31,2015-01-21
51828,USA,CA,SF Bay Area,San Mateo,1999-01-01,2005-07-21,2005-07-21
51829,USA,CA,SF Bay Area,Santa Clara,2001-01-01,2004-03-24,2004-03-24
51830,NaN,NaN,NaN,NaN,NaT,2003-06-08,2003-06-08

In [26]:
str_cols = ["country_code", "state_code", "region", "city"]
encoder = OrdinalEncoder(handle_unknown="use_encoded_value", unknown_value=-1)
X_train[str_cols] = encoder.fit_transform(X_train[str_cols])
X_val[str_cols] = encoder.transform(X_val[str_cols])
X_test[str_cols] = encoder.transform(X_test[str_cols])
X_train

,funding_total_usd,country_code,state_code,region,city,funding_rounds,founded_at,first_funding_at,last_funding_at,category_list_3D,...,category_list_Wine And Spirits,category_list_Wireless,category_list_Women,category_list_Writers,category_list_Young Adults,category_list_iOS,category_list_iPad,category_list_iPhone,category_list_iPod Touch,category_list_mHealth
0,14000000.0,124.0,116.0,789.0,3231.0,2,2005-01-01,2006-06-12,2009-01-06,0,...,0,0,0,0,0,0,0,0,0,0
1,1381973.0,124.0,118.0,382.0,4267.0,1,NaT,2010-03-26,2010-03-26,0,...,0,0,0,0,0,0,0,0,0,0
2,14560000.0,124.0,261.0,237.0,3059.0,1,NaT,2009-04-15,2009-04-15,0,...,0,0,0,0,0,0,0,0,0,0
3,NaN,NaN,NaN,NaN,NaN,1,2010-07-01,2013-05-01,2013-05-01,0,...,0,0,0,0,0,0,0,0,0,0
4,8000000.0,124.0,116.0,789.0,3435.0,1,2001-01-01,2014-07-15,2014-07-15,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51826,20203.0,30.0,4.0,261.0,1065.0,1,NaT,2013-01-27,2013-01-27,0,...,0,0,0,0,0,0,0,0,0,0
51827,385567.0,41.0,159.0,537.0,2227.0,2,2010-11-09,2013-01-31,2015-01-21,0,...,0,0,0,0,0,0,0,0,0,0
51828,5280000.0,124.0,116.0,789.0,3449.0,1,1999-01-01,2005-07-21,2005-07-21,0,...,0,0,0,0,0,0,0,0,0,0
51829,12500000.0,124.0,116.0,789.0,3482.0,1,2001-01-01,2004-03-24,2004-03-24,0,...,0,0,0,0,0,0,0,0,0,0
51830,NaN,NaN,NaN,NaN,NaN,1,NaT,2003-06-08,2003-06-08,0,...,0,0,0,0,0,0,0,0,0,0

In [27]:
X_train.select_dtypes(exclude=["number"])

      founded_at first_funding_at last_funding_at
0     2005-01-01       2006-06-12      2009-01-06
1            NaT       2010-03-26      2010-03-26
2            NaT       2009-04-15      2009-04-15
3     2010-07-01       2013-05-01      2013-05-01
4     2001-01-01       2014-07-15      2014-07-15
...          ...              ...             ...
51826        NaT       2013-01-27      2013-01-27
51827 2010-11-09       2013-01-31      2015-01-21
51828 1999-01-01       2005-07-21      2005-07-21
51829 2001-01-01       2004-03-24      2004-03-24
51830        NaT       2003-06-08      2003-06-08

[51831 rows x 3 columns]

In [28]:
def extract_date_features(df):
    df["time_to_first_funding"] = (df["first_funding_at"] - df["founded_at"]).dt.days
    df["funding_lifespan"] = (df["last_funding_at"] - df["first_funding_at"]).dt.days
    df["age_at_last_funding"] = (df["last_funding_at"] - df["founded_at"]).dt.days
    df["founded_at_year"] = df["founded_at"].dt.year
    df["founded_at_month"] = df["founded_at"].dt.month
    df["founded_at_quarter"] = df["founded_at"].dt.quarter
    df["founded_at_day_of_week"] = df["founded_at"].dt.day_of_week
    df["first_funding_at_year"] = df["first_funding_at"].dt.year
    df["first_funding_at_month"] = df["first_funding_at"].dt.month
    df["first_funding_at_quarter"] = df["first_funding_at"].dt.quarter
    df["first_funding_at_day_of_week"] = df["first_funding_at"].dt.day_of_week
    df["last_funding_at_year"] = df["last_funding_at"].dt.year
    df["last_funding_at_month"] = df["last_funding_at"].dt.month
    df["last_funding_at_quarter"] = df["last_funding_at"].dt.quarter
    df["last_funding_at_day_of_week"] = df["last_funding_at"].dt.day_of_week

extract_date_features(X_train)
extract_date_features(X_val)
extract_date_features(X_test)
X_train

,funding_total_usd,country_code,state_code,region,city,funding_rounds,founded_at,first_funding_at,last_funding_at,category_list_3D,...,founded_at_quarter,founded_at_day_of_week,first_funding_at_year,first_funding_at_month,first_funding_at_quarter,first_funding_at_day_of_week,last_funding_at_year,last_funding_at_month,last_funding_at_quarter,last_funding_at_day_of_week
0,14000000.0,124.0,116.0,789.0,3231.0,2,2005-01-01,2006-06-12,2009-01-06,0,...,1.0,5.0,2006,6,2,0,2009,1,1,1
1,1381973.0,124.0,118.0,382.0,4267.0,1,NaT,2010-03-26,2010-03-26,0,...,NaN,NaN,2010,3,1,4,2010,3,1,4
2,14560000.0,124.0,261.0,237.0,3059.0,1,NaT,2009-04-15,2009-04-15,0,...,NaN,NaN,2009,4,2,2,2009,4,2,2
3,NaN,NaN,NaN,NaN,NaN,1,2010-07-01,2013-05-01,2013-05-01,0,...,3.0,3.0,2013,5,2,2,2013,5,2,2
4,8000000.0,124.0,116.0,789.0,3435.0,1,2001-01-01,2014-07-15,2014-07-15,0,...,1.0,0.0,2014,7,3,1,2014,7,3,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51826,20203.0,30.0,4.0,261.0,1065.0,1,NaT,2013-01-27,2013-01-27,0,...,NaN,NaN,2013,1,1,6,2013,1,1,6
51827,385567.0,41.0,159.0,537.0,2227.0,2,2010-11-09,2013-01-31,2015-01-21,0,...,4.0,1.0,2013,1,1,3,2015,1,1,2
51828,5280000.0,124.0,116.0,789.0,3449.0,1,1999-01-01,2005-07-21,2005-07-21,0,...,1.0,4.0,2005,7,3,3,2005,7,3,3
51829,12500000.0,124.0,116.0,789.0,3482.0,1,2001-01-01,2004-03-24,2004-03-24,0,...,1.0,0.0,2004,3,1,2,2004,3,1,2
51830,NaN,NaN,NaN,NaN,NaN,1,NaT,2003-06-08,2003-06-08,0,...,NaN,NaN,2003,6,2,6,2003,6,2,6

In [29]:
X_train.drop(columns=["founded_at", "first_funding_at", "last_funding_at"], inplace=True)
X_val.drop(columns=["founded_at", "first_funding_at", "last_funding_at"], inplace=True)
X_test.drop(columns=["founded_at", "first_funding_at", "last_funding_at"], inplace=True)
X_train

,funding_total_usd,country_code,state_code,region,city,funding_rounds,category_list_3D,category_list_3D Printing,category_list_3D Technology,category_list_Accounting,...,founded_at_quarter,founded_at_day_of_week,first_funding_at_year,first_funding_at_month,first_funding_at_quarter,first_funding_at_day_of_week,last_funding_at_year,last_funding_at_month,last_funding_at_quarter,last_funding_at_day_of_week
0,14000000.0,124.0,116.0,789.0,3231.0,2,0,0,0,0,...,1.0,5.0,2006,6,2,0,2009,1,1,1
1,1381973.0,124.0,118.0,382.0,4267.0,1,0,0,0,0,...,NaN,NaN,2010,3,1,4,2010,3,1,4
2,14560000.0,124.0,261.0,237.0,3059.0,1,0,0,0,0,...,NaN,NaN,2009,4,2,2,2009,4,2,2
3,NaN,NaN,NaN,NaN,NaN,1,0,0,0,0,...,3.0,3.0,2013,5,2,2,2013,5,2,2
4,8000000.0,124.0,116.0,789.0,3435.0,1,0,0,0,0,...,1.0,0.0,2014,7,3,1,2014,7,3,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51826,20203.0,30.0,4.0,261.0,1065.0,1,0,0,0,0,...,NaN,NaN,2013,1,1,6,2013,1,1,6
51827,385567.0,41.0,159.0,537.0,2227.0,2,0,0,0,0,...,4.0,1.0,2013,1,1,3,2015,1,1,2
51828,5280000.0,124.0,116.0,789.0,3449.0,1,0,0,0,0,...,1.0,4.0,2005,7,3,3,2005,7,3,3
51829,12500000.0,124.0,116.0,789.0,3482.0,1,0,0,0,0,...,1.0,0.0,2004,3,1,2,2004,3,1,2
51830,NaN,NaN,NaN,NaN,NaN,1,0,0,0,0,...,NaN,NaN,2003,6,2,6,2003,6,2,6

In [31]:
scaler = StandardScaler()

X_train = pd.DataFrame(
    scaler.fit_transform(X_train),
    columns=X_train.columns,
    index=X_train.index
)

X_val = pd.DataFrame(
    scaler.transform(X_val),
    columns=X_val.columns,
    index=X_val.index
)

X_test = pd.DataFrame(
    scaler.transform(X_test),
    columns=X_test.columns,
    index=X_test.index
)
X_train

,funding_total_usd,country_code,state_code,region,city,funding_rounds,category_list_3D,category_list_3D Printing,category_list_3D Technology,category_list_Accounting,...,founded_at_quarter,founded_at_day_of_week,first_funding_at_year,first_funding_at_month,first_funding_at_quarter,first_funding_at_day_of_week,last_funding_at_year,last_funding_at_month,last_funding_at_quarter,last_funding_at_day_of_week
0,-0.027489,0.692059,-0.290413,0.806644,0.737501,0.219571,-0.044405,-0.038572,-0.033471,-0.044405,...,-0.651876,1.010066,-1.375390,-0.066605,-0.377366,-1.336266,-0.850941,-1.536442,-1.300929,-0.753374
1,-0.113831,0.692059,-0.265879,-0.627441,1.565546,-0.532020,-0.044405,-0.038572,-0.033471,-0.044405,...,NaN,NaN,-0.287665,-0.913280,-1.260763,0.894186,-0.563263,-0.961246,-1.300929,0.959263
2,-0.023657,0.692059,1.488290,-1.138355,0.600027,-0.532020,-0.044405,-0.038572,-0.033471,-0.044405,...,NaN,NaN,-0.559596,-0.631055,-0.377366,-0.221040,-0.850941,-0.673648,-0.408038,-0.182495
3,NaN,NaN,NaN,NaN,NaN,-0.532020,-0.044405,-0.038572,-0.033471,-0.044405,...,1.256253,0.003341,0.528128,-0.348830,-0.377366,-0.221040,0.299773,-0.386050,-0.408038,-0.182495
4,-0.068545,0.692059,-0.290413,0.806644,0.900553,-0.532020,-0.044405,-0.038572,-0.033471,-0.044405,...,-0.651876,-1.506748,0.800059,0.215621,0.506030,-0.778653,0.587451,0.189146,0.484853,-0.753374
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51826,-0.123149,-1.593305,-1.664309,-1.053790,-0.993719,-0.532020,-0.044405,-0.038572,-0.033471,-0.044405,...,NaN,NaN,0.528128,-1.477731,-1.260763,2.009412,0.299773,-1.536442,-1.300929,2.101020
51827,-0.120649,-1.325869,0.237064,-0.081291,-0.064966,0.219571,-0.044405,-0.038572,-0.033471,-0.044405,...,2.210318,-1.003385,0.528128,-1.477731,-1.260763,0.336573,0.875129,-1.536442,-1.300929,-0.182495
51828,-0.087158,0.692059,-0.290413,0.806644,0.911742,-0.532020,-0.044405,-0.038572,-0.033471,-0.044405,...,-0.651876,0.506703,-1.647321,0.215621,0.506030,0.336573,-2.001655,0.189146,0.484853,0.388384
51829,-0.037753,0.692059,-0.290413,0.806644,0.938118,-0.532020,-0.044405,-0.038572,-0.033471,-0.044405,...,-0.651876,-1.506748,-1.919252,-0.913280,-1.260763,-0.221040,-2.289333,-0.961246,-1.300929,-0.182495
51830,NaN,NaN,NaN,NaN,NaN,-0.532020,-0.044405,-0.038572,-0.033471,-0.044405,...,NaN,NaN,-2.191183,-0.066605,-0.377366,2.009412,-2.577012,-0.098452,-0.408038,2.101020

In [35]:
continuous_features = [
    'funding_total_usd',
    'time_to_first_funding',
    'age_at_last_funding'
]

categorical_features = [
    'country_code',
    'state_code',
    'region',
    'city',
    'founded_at_year',
    'founded_at_month',
    'founded_at_quarter',
    'founded_at_day_of_week'
]

continuous_imputer = SimpleImputer(strategy="median")
categorical_imputer = SimpleImputer(strategy="most_frequent")

preprocessor = ColumnTransformer(
    transformers=[
        ('continuous_imputer', continuous_imputer, continuous_features),
        ('categorical_imputer', categorical_imputer, categorical_features)
    ],
    remainder='passthrough'
)

X_train = pd.DataFrame(preprocessor.fit_transform(X_train), columns=preprocessor.get_feature_names_out(), index=X_train.index)
X_val = pd.DataFrame(preprocessor.transform(X_val), columns=preprocessor.get_feature_names_out(), index=X_val.index)
X_test = pd.DataFrame(preprocessor.transform(X_test), columns=preprocessor.get_feature_names_out(), index=X_test.index)
X_train

,continuous_imputer__funding_total_usd,continuous_imputer__time_to_first_funding,continuous_imputer__age_at_last_funding,categorical_imputer__country_code,categorical_imputer__state_code,categorical_imputer__region,categorical_imputer__city,categorical_imputer__founded_at_year,categorical_imputer__founded_at_month,categorical_imputer__founded_at_quarter,...,remainder__category_list_mHealth,remainder__funding_lifespan,remainder__first_funding_at_year,remainder__first_funding_at_month,remainder__first_funding_at_quarter,remainder__first_funding_at_day_of_week,remainder__last_funding_at_year,remainder__last_funding_at_month,remainder__last_funding_at_quarter,remainder__last_funding_at_day_of_week
0,-0.027489,-0.232813,-0.078862,0.692059,-0.290413,0.806644,0.737501,-0.265624,-0.714786,-0.651876,...,-0.032294,0.856382,-1.375390,-0.066605,-0.377366,-1.336266,-0.850941,-1.536442,-1.300929,-0.753374
1,-0.113831,-0.237520,-0.238310,0.692059,-0.265879,-0.627441,1.565546,0.404306,-0.714786,-0.651876,...,-0.032294,-0.469907,-0.287665,-0.913280,-1.260763,0.894186,-0.563263,-0.961246,-1.300929,0.959263
2,-0.023657,-0.237520,-0.238310,0.692059,1.488290,-1.138355,0.600027,0.404306,-0.714786,-0.651876,...,-0.032294,-0.469907,-0.559596,-0.631055,-0.377366,-0.221040,-0.850941,-0.673648,-0.408038,-0.182495
3,-0.109602,-0.092157,-0.196941,0.692059,-0.290413,0.806644,0.900553,0.212898,0.983073,1.256253,...,-0.032294,-0.469907,0.528128,-0.348830,-0.377366,-0.221040,0.299773,-0.386050,-0.408038,-0.182495
4,-0.068545,0.989895,0.873720,0.692059,-0.290413,0.806644,0.900553,-0.648441,-0.714786,-0.651876,...,-0.032294,-0.469907,0.800059,0.215621,0.506030,-0.778653,0.587451,0.189146,0.484853,-0.753374
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51826,-0.123149,-0.237520,-0.238310,-1.593305,-1.664309,-1.053790,-0.993719,0.404306,-0.714786,-0.651876,...,-0.032294,-0.469907,0.528128,-1.477731,-1.260763,2.009412,0.299773,-1.536442,-1.300929,2.101020
51827,-0.120649,-0.153348,-0.060232,-1.325869,0.237064,-0.081291,-0.064966,0.212898,2.114979,2.210318,...,-0.032294,0.547056,0.528128,-1.477731,-1.260763,0.336573,0.875129,-1.536442,-1.300929,-0.182495
51828,-0.087158,0.283848,0.175105,0.692059,-0.290413,0.806644,0.911742,-0.839849,-0.714786,-0.651876,...,-0.032294,-0.469907,-1.647321,0.215621,0.506030,0.336573,-2.001655,0.189146,0.484853,0.388384
51829,-0.037753,-0.052563,-0.157764,0.692059,-0.290413,0.806644,0.938118,-0.648441,-0.714786,-0.651876,...,-0.032294,-0.469907,-1.919252,-0.913280,-1.260763,-0.221040,-2.289333,-0.961246,-1.300929,-0.182495
51830,-0.109602,-0.237520,-0.238310,0.692059,-0.290413,0.806644,0.900553,0.404306,-0.714786,-0.651876,...,-0.032294,-0.469907,-2.191183,-0.066605,-0.377366,2.009412,-2.577012,-0.098452,-0.408038,2.101020

In [36]:
sm = SMOTE(random_state=42)
X_train, y_train = sm.fit_resample(X_train, y_train)

<h2 dir=rtl align=right style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
آموزش مدل
</font>
</h2>

<p dir=rtl style="direction: rtl;text-align: justify;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>
    حال که داده را پاکسازی کرده‌اید، وقت آن است که مدلی آموزش دهید که بتواند متغیر هدف این مسئله را پیش‌بینی کند.
</font>
</p>

In [38]:
model = RandomForestClassifier(random_state=42, class_weight="balanced_subsample")
model.fit(X_train, y_train)

RandomForestClassifier(class_weight='balanced_subsample', random_state=42)

<h2 dir=rtl align=right style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
معیار ارزیابی
</font>
</h2>

<p dir=rtl style="direction: rtl; text-align: justify; line-height:200%; font-family:vazir; font-size:medium">
<font face="vazir" size=3>
    معیاری که برای ارزیابی عملکرد مدل انتخاب کرده‌ایم، <code>f1_score</code> (با روش میانگین‌گیری <code>macro</code>) نام دارد.
    <br>
    این معیار، سنجه ارزیابی کیفیت مدل شماست. به عبارت بهتر در سامانه داوری هم از همین معیار برای نمره‌دهی استفاده شده است.
    <br>
    پیشنهاد می‌شود با توجه به این معیار، عملکرد مدل خود را بر روی مجموعه‌ی آموزش یا اعتبارسنجی ارزیابی کنید.
</font>
</p>

<p dir=rtl style="direction: rtl; text-align: justify; line-height:200%; font-family:vazir; font-size:medium">
<font color="red"><b color='red'>توجه:</b></font>
<font face="vazir" size=3>
    برای دریافت نمره از این سوال لازم است تا دقت مدل شما از آستانه‌ی ۰.۴ بیشتر باشد.
    در صورتی که دقت مدل شما از ۰.۴ کمتر باشد نمره شما 
    <b>صفر</b>
    خواهد شد و در غیر این صورت با فرمول زیر محاسبه می‌شود:
</font>
</p>

In [39]:
y_train_pred = model.predict(X_train)
y_val_pred = model.predict(X_val)
print("  F1 (train):", f1_score(y_train, y_train_pred, average="macro"))
print("  F1 (val)  :", f1_score(y_val, y_val_pred, average="macro"))

  F1 (train): 0.9988526446053179
  F1 (val)  : 0.5120063589114948

<h2 dir=rtl align=right style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
 پیش‌بینی بر روی داده‌ی تست و خروجی
</font>
</h2>

<p dir=rtl style="direction: rtl;text-align: justify;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>
    پیش‌بینی مدل خود بر روی داده‌های آزمون را در یک دیتافریم (<code>dataframe</code>) به فرمت زیر ذخیره کنید.
</font>
</p>


<p dir=rtl style="direction: rtl;text-align: justify;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>
    توجه داشته باشید که نام دیتافریم باید <code>submission</code> باشد؛ در غیر این‌صورت، سامانه‌ی داوری قادر به ارزیابی خروجی شما نخواهد بود.
    این دیتافریم صرفا شامل یک ستون به نام <code>status</code> است و ۸۷۵۲ سطر دارد.
    <br>
    به ازای هر سطر موجود در مجموعه‌داده‌ی آزمون، باید یک مقدار پیش‌بینی‌شده داشته باشید که مقدار <code>status</code> پیش‌بینی مدل شما است.
    به‌عنوان مثال جدول زیر، ۵ سطر ابتدایی دیتافریم <code>submission</code> را نشان می‌دهد. البته این مقادیر به‌صورت فرضی هستند و در جواب شما، ممکن است متفاوت باشند.
</font>
</p>

<center>
<div align=center 
style="direction: ltr;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>
    
||<code>status</code>|
|:----:|:-----:|
|0|1|
|1|2|
|2|1|
|3|1|
|4|0|

</font>
</div>
</center>

In [40]:
submission = pd.DataFrame({"status": model.predict(X_test)})
submission

      status
0          1
1          2
2          1
3          1
4          1
...      ...
8747       1
8748       1
8749       1
8750       1
8751       2

[8752 rows x 1 columns]

<h2 dir=rtl align=right style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
<b>سلول جواب‌ساز</b>
</font>
</h2>

<p dir=rtl style="direction: rtl; text-align: justify; line-height:200%; font-family:vazir; font-size:medium">
<font face="vazir" size=3>
    برای ساخته‌شدن فایل <code>result.zip</code> سلول زیر را اجرا کنید. توجه داشته باشید که پیش از اجرای سلول زیر تغییرات اعمال شده در نت‌بوک را ذخیره کرده باشید (<code>ctrl+s</code>) در غیر این صورت، در پایان مسابقه نمره شما به صفر تغییر خواهد کرد.
    <br>
    همچنین اگر از کولب برای اجرای این فایل نوت‌بوک استفاده می‌کنید، قبل از ارسال فایل <code>result.zip</code>، آخرین نسخه‌ی نوت‌بوک خود را دانلود کرده و داخل فایل ارسالی قرار دهید.
</font>

In [41]:
import zipfile
import os

if not os.path.exists(os.path.join(os.getcwd(), 'startup.ipynb')):
    %notebook -e startup.ipynb

def compress(file_names):
    print("File Paths:")
    print(file_names)
    compression = zipfile.ZIP_DEFLATED
    with zipfile.ZipFile("result.zip", mode="w") as zf:
        for file_name in file_names:
            zf.write('./' + file_name, file_name, compress_type=compression)

submission.to_csv('submission.csv', index=False)

file_names = ['startup.ipynb', 'submission.csv']
compress(file_names)

File Paths:
['startup.ipynb', 'submission.csv']