In [1]:
import pandas as pd

In [2]:
titanic_data = pd.read_csv("train.csv")

In [3]:
type(titanic_data)

pandas.core.frame.DataFrame

In [4]:
titanic_data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [5]:
titanic_data.shape

(891, 12)

In [7]:
titanic_data.dtypes

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

In [9]:
titanic_data["Survived"].value_counts()

Survived
0    549
1    342
Name: count, dtype: int64

In [10]:
titanic_data["Survived"].value_counts(normalize=True) *100

Survived
0    61.616162
1    38.383838
Name: proportion, dtype: float64

In [12]:
pd.crosstab(titanic_data.Sex,titanic_data.Survived)

Survived    0    1
Sex
female     81  233
male      468  109

In [13]:
 pd.crosstab(titanic_data.Sex,titanic_data.Survived,normalize="index")

Survived         0         1
Sex
female    0.257962  0.742038
male      0.811092  0.188908

In [16]:
 pd.crosstab(titanic_data.Sex,titanic_data.Survived,normalize="columns")

Survived         0         1
Sex
female    0.147541  0.681287
male      0.852459  0.318713

survived childrens :

In [25]:
below_5_years = titanic_data[titanic_data.Age <= 5]
len(below_5_years)
below_5_years['Survived'].value_counts()

Survived
1    31
0    13
Name: count, dtype: int64

In [29]:
titanic_data.Embarked.unique()

array(['S', 'C', 'Q', nan], dtype=object)

In [41]:
print(titanic_data.groupby(["Pclass","Sex"])["Age"].mean().reset_index())

   Pclass     Sex        Age
0       1  female  34.611765
1       1    male  41.281386
2       2  female  28.722973
3       2    male  30.740707
4       3  female  21.750000
5       3    male  26.507589

also there is           [ loc / iloc / querry ]        to choose a specific data